# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
!Makefile

*.mod
period.dat
accuracy_bisection.dat
accuracy_newton.dat
complexnewton.dat
*.png
*.o
**.tgz
session_03/RandumNumberGenerator/src/random_uniform_DATA.dat
session_03/RandumNumberGenerator/src/LCG_DATA.dat
session_03/RandomNumberGenerator/data/LCG_DATA.dat
session_03/RandomNumberGenerator/data/random_uniform_DATA.dat
